*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../images/Curly-Curtaintop.svg);
  background-repeat: repeat-x;
  background-position: top center; }

section {
  display: none; }
  section.display {
    display: block; }

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center; }

h1,
h2,
h3,
h4 {
  color: #041464;
  font-weight: 900; }

.heading--primary {
  font-family: "Pacifico", cursive;
  font-size: 7rem;
  color: #041464;
  margin-top: 17rem;
  margin-bottom: 5rem;
  display: inline-block; }
  @media only screen and (max-width: 600px) {
    .heading--primary {
      margin-top: 14rem;
      margin-bottom: 4rem;
      font-size: 5rem; } }

.heading--secondary {
  font-size: 3.5rem;
  letter-spacing: -0.9px;
  margin-bottom: 5rem;
  box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
  border-radius: 100px;
  padding: 2rem 1.5rem 1.5rem;
  animation: fadeFromRight 0.7s; }
  @media only screen and (max-width: 600px) {
    .heading--secondary {
      font-size: 2.7rem;
      margin-bottom: 4rem; } }

a {
  text-decoration: none;
  color: inherit; }

@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.form {
  width: 100%;
  margin: auto;
  padding: 3rem;
  border-radius: 0.8rem;
  box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
  background-color: #c9e4ff;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: fadeFromLeft 0.7s; }
  @media only screen and (max-width: 600px) {
    .form {
      padding: 3rem 2rem; } }
  .form::after {
    content: "Invalid username or password";
    position: absolute;
    top: calc(100% + 2rem);
    left: 50%;
    transform: translateX(-50rem);
    font-size: 1.4rem;
    font-weight: 600;
    color: #e11584;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s; }
  .form.error::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%); }
  .form__input {
    font: inherit;
    font-size: 1.7rem;
    border: 2px solid transparent;
    outline: none;
    padding: 1.5rem;
    transition: border-color 0.5s;
    display: block;
    margin-bottom: 1.5rem;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .form__input {
        font-size: 1.4rem; } }
    .form__input:last-of-type {
      margin-bottom: 2.5rem; }
    .form__input:focus {
      border-color: #1d89ff; }

.button {
  display: block;
  font: inherit;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1.57rem;
  padding: 1.2rem 4rem 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  outline: none;
  border-radius: 100px;
  cursor: pointer; }
  @media only screen and (max-width: 600px) {
    .button {
      font-size: 1.2rem; } }
  .button--level {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    padding: 0;
    font-size: 2rem;
    font-weight: 700; }
    @media only screen and (max-width: 600px) {
      .button--level {
        width: 6.5rem;
        height: 6.5rem;
        font-size: 1.8rem; } }
  .button--logout {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0;
    border: none;
    background-color: #1d89ff;
    color: #fff;
    box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.6s;
    z-index: 99999; }
    @media only screen and (max-width: 600px) {
      .button--logout {
        bottom: 1.5rem;
        right: 1.5rem;
        width: 5.5rem;
        height: 5.5rem;
        font-size: 1.7rem; } }
    .button--logout.display {
      opacity: 1;
      visibility: visible;
      transform: scale(1); }
    .button--logout:hover {
      background-color: #fff;
      color: #1d89ff; }
    .button--logout i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.bttn-fill::before, .bttn-fill::after {
  border-radius: 100px; }

.board {
  animation: fadeFromLeft 0.7s; }
  .board__row {
    display: flex;
    width: 100%; }
    .board__row:nth-child(3), .board__row:nth-child(6) {
      margin-bottom: 1.5rem; }
      @media only screen and (max-width: 600px) {
        .board__row:nth-child(3), .board__row:nth-child(6) {
          margin-bottom: 1rem; } }
  .board__cell {
    width: calc(100% / 9);
    text-align: center;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: #fff; }
    @media only screen and (max-width: 600px) {
      .board__cell {
        font-size: 1.1rem; } }
    .board__cell--prefilled {
      cursor: initial;
      background-color: #c9e4ff;
      border: 1px solid rgba(0, 0, 0, 0.3) !important; }
    .board__cell:nth-child(3), .board__cell:nth-child(6) {
      margin-right: 1.5rem; }
      @media only screen and (max-width: 600px) {
        .board__cell:nth-child(3), .board__cell:nth-child(6) {
          margin-right: 1rem; } }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 20, 100, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  z-index: 999; }
  .modal.display {
    opacity: 1;
    visibility: visible; }
  .modal__content {
    background-color: #fff;
    width: calc(100% - 2 * 5vw);
    max-width: 50rem;
    padding: 3rem 3rem 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
    border-radius: 0.4rem; }
    @media only screen and (max-width: 600px) {
      .modal__content {
        padding: 1.5rem 2rem 3.5rem; } }
  .modal.display .modal__content {
    transform: translate(-50%, -50%) scale(1); }
  .modal__heading {
    box-shadow: none;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 600px) {
      .modal__heading {
        margin-bottom: 1rem; } }

.score-box {
  position: fixed;
  top: 50%;
  left: 2rem;
  min-width: 12rem;
  padding: 1.5rem 2rem 1rem;
  box-shadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
  background-color: #fff;
  border-radius: 0.4rem;
  visibility: hidden;
  opacity: 0;
  transform: translate(-100%, -50%);
  transition: all 0.6s;
  z-index: 99999; }
  @media only screen and (max-width: 900px) {
    .score-box {
      top: 2rem;
      transform: translateX(-100%); } }
  @media only screen and (max-width: 600px) {
    .score-box {
      top: 1.5rem;
      left: 1.5rem;
      min-width: 10rem; } }
  .score-box.display {
    visibility: visible;
    opacity: 1;
    transform: translate(0, -50%); }
    @media only screen and (max-width: 900px) {
      .score-box.display {
        transform: translateX(0); } }
  .score-box__title {
    font-weight: 700;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 600px) {
      .score-box__title {
        font-size: 1.4rem; } }
  .score-box__score {
    color: #1d89ff;
    font-size: 4rem; }
    @media only screen and (max-width: 600px) {
      .score-box__score {
        font-size: 3.5rem; } }

.main {
  padding: 3rem 9vw 8rem;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 600px) {
    .main {
      padding: 2rem 5vw 6rem; } }

.container {
  display: flex;
  flex-direction: column;
  margin: auto; }

.login__container {
  max-width: 50rem; }

.level-choice__container {
  max-width: 55rem; }

.level-choice__heading {
  margin-bottom: 2.5rem; }

.level-choice__content {
  margin-top: 2rem;
  background-color: rgba(201, 228, 255, 0.6);
  padding: 3rem;
  animation: fadeFromLeft 0.7s; }

.level-choice__subheading {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 600px) {
    .level-choice__subheading {
      font-size: 2.3rem; } }

.level-choice__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
  margin: auto; }

.game__container {
  max-width: 60rem; }

.game__heading {
  margin-bottom: 5rem; }

.game__buttons {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  animation: fadeFromRight 0.7s; }
  @media only screen and (max-width: 600px) {
    .game__buttons {
      margin-top: 3rem; } }
  .game__buttons .button {
    width: 45%;
    padding-left: 0;
    padding-right: 0; }
    @media only screen and (max-width: 600px) {
      .game__buttons .button {
        width: 48%; } }

.footer {
  background-color: #030f4e;
  padding: 5rem 5vw 4rem; }
  @media only screen and (max-width: 600px) {
    .footer {
      padding: 4rem 5vw; } }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100rem;
    margin: auto; }
  .footer__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    margin: 0 7rem; }
    @media only screen and (max-width: 900px) {
      .footer__text {
        margin: 0 4rem; } }
    @media only screen and (max-width: 600px) {
      .footer__text {
        font-size: 1.3rem;
        margin: auto; } }
  .footer__line {
    height: 0.4rem;
    background-color: #041464;
    flex: 1; }
    @media only screen and (max-width: 600px) {
      .footer__line {
        display: none; } }
